

<div class="users">
  <div *ngIf="!spinner">

<div class="add">
  <button mat-raised-button (click)="addUsers()">Add Users</button>
</div>

    <div class="tabili">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

        <ng-container matColumnDef="Username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.Username}}</td>
        </ng-container>

        <ng-container matColumnDef="RoleName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
          <td mat-cell *matCellDef="let element"> {{element.RoleName}} </td>
        </ng-container>

        <ng-container matColumnDef="IsActive">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element"> {{element.IsActive}} </td>
        </ng-container>

        <ng-container matColumnDef="visibility">
            <th mat-header-cell *matHeaderCellDef>View</th>
            <td mat-cell *matCellDef="let element">
              <mat-icon>visibility</mat-icon>
            </td>
          </ng-container>

        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef> Edit </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon>edit</mat-icon>
          </td>
        </ng-container>


        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef> Deactivate </th>
          <td mat-cell *matCellDef="let element">
            <mat-icon>delete</mat-icon>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </div>

  <div class="spinner" *ngIf="spinner">
    <mat-spinner
      strokeWidth="3"
      diameter="50"
      style="margin: 0 auto;"
    ></mat-spinner>
  </div>
</div>


