<div class="users">

  <div class="welcome-content fadeIn">

      <div>
          <div class="input">
            <p>
              <mat-form-field id="loginInput" appearance="fill" class="full-width">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="First Name" type="text" [(ngModel)]="firstName">
              </mat-form-field>
            </p>

            <p>
                <mat-form-field id="loginInput" appearance="fill" class="full-width">
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="Last Name" type="text" [(ngModel)]="lastName">
                </mat-form-field>
              </p>

              <p>
                  <mat-form-field id="loginInput" appearance="fill" class="full-width">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email" type="text" [(ngModel)]="emailAddress">
                  </mat-form-field>
                </p>

                <p>
                    <mat-form-field id="loginInput" appearance="fill" class="full-width">
                      <mat-label>Phone Number</mat-label>
                      <input matInput placeholder="Phone Number" type="tel" [(ngModel)]="phoneNumber">
                    </mat-form-field>
                  </p>

            <div>
              <button mat-raised-button class="full-width">DELETE</button>
            </div>
          </div>

  </div>

</div>

