

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav"

  fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar class="fleet">
      <img height="30px" width="30px" src="../../../assets/img/download.png"/>
      <span>Adminstrative Role</span>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list>
        <mat-list-item (click)="dashboard()">
            <button mat-icon-button>
              <mat-icon>dashboard</mat-icon>
            </button>
            <a>Dashboard</a>
          </mat-list-item>


          <mat-list-item (click)="expanding()">
            <button mat-icon-button>
              <mat-icon>apps</mat-icon>
            </button>
            <a>Applications</a>
            <i *ngIf="!hide" class="fas fa-angle-down"></i>
            <i *ngIf="hide"class="fas fa-angle-up"></i>
          </mat-list-item>

          <!-- <div class="shift" *ngIf="hide">
            <mat-nav-list *ngFor="let s of SideMenu; let i = index">
              <mat-list-item (click)="applications()">
                <button mat-icon-button>

                </button>
                <a>{{s.ApplicationId}}</a>
              </mat-list-item>
            </mat-nav-list>
          </div> -->

          <mat-list-item>
            <button mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
            <a>Settings</a>
          </mat-list-item>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Dashboard</span>
      <span class="spacer"></span>
      <i (click)="logout()" class="fas fa-power-off"></i>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>

</mat-sidenav-container>






<!-- [ngClass]="{hidden: (isHandset | async)!.matches}" -->

 <!-- <mat-icon>payment</mat-icon> -->
