

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav"

  fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar class="fleet">
      <img height="30px" width="30px" src="../../../assets/img/download.png"/>
      <span>Adminstrative Role</span>
    </mat-toolbar>
    <mat-divider></mat-divider>

    <div>

     <mat-nav-list *ngFor="let s of SideMenu; let i = index">

        <mat-list-item (click)="goTo(s)">

            <button mat-icon-button>
                <mat-icon>{{s.Icon}}</mat-icon>
              </button>
              <a>{{s.Name}}</a>
          </mat-list-item>

    </mat-nav-list>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Dashboard</span>
      <span class="spacer"></span>
      <i (click)="logout()" class="fas fa-power-off"></i>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>

</mat-sidenav-container>






<!-- [ngClass]="{hidden: (isHandset | async)!.matches}" -->

 <!-- <mat-icon>payment</mat-icon> -->

 <!-- <mat-nav-list *ngFor="let s of SideMenu; let i = index">
  <mat-list-item (click)="applications()">
    <button mat-icon-button>

    </button>
    <a>{{s.ApplicationId}}</a>
  </mat-list-item>
</mat-nav-list> -->
