

<mat-sidenav-container class="sidenav-container">

  <mat-sidenav #drawer class="sidenav"

  fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar class="fleet">
      <img height="30px" width="30px" src="../../../assets/img/cheese.png"/>
      <span style="font-size: 17px">Cheese Factory Admin</span>
    </mat-toolbar>
    <mat-divider></mat-divider>

    <div>

     <mat-nav-list>

        <mat-list-item>

            <button mat-icon-button>
                <mat-icon>dashboard</mat-icon>
              </button>
              <a>Dashboard</a>
          </mat-list-item>


        <mat-list-item>

          <button mat-icon-button>
              <mat-icon>person</mat-icon>
            </button>
            <a>Users</a>
        </mat-list-item>

        <mat-list-item>

          <button mat-icon-button>
              <mat-icon>shop</mat-icon>
            </button>
            <a>Products</a>
        </mat-list-item>

        <mat-list-item>

          <button mat-icon-button>
              <mat-icon>shopping_cart</mat-icon>
            </button>
            <a>Orders</a>
        </mat-list-item>

        <mat-list-item>

          <button mat-icon-button>
              <mat-icon>payment</mat-icon>
            </button>
            <a>Payment</a>
        </mat-list-item>

        <mat-list-item>

          <button mat-icon-button>
              <mat-icon>settings</mat-icon>
            </button>
            <a>Settings</a>
        </mat-list-item>

        <mat-list-item>

          <button mat-icon-button>
              <mat-icon>power_settings_new</mat-icon>
            </button>
            <a>Logout</a>
        </mat-list-item>

    </mat-nav-list>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="test">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Dashboard</span>
      <span class="spacer"></span>
      <span class="spacer"></span>
      <span class="spacer"></span>
      <span class="spacer"></span>
      <span class="spacer"></span>
      <span class="spacer"></span>
      <span class="spacer"></span>
      <span class="spacer"></span>
      <span class="spacer"></span>
      <span class="spacer"></span>
      <span class="spacer"></span>
     <button mat-icon-button>
      <mat-icon>notifications</mat-icon>
    </button>
    </mat-toolbar>
    <ng-content></ng-content>
    <!-- Add Content Here -->
  </mat-sidenav-content>

</mat-sidenav-container>

